/* CSS Reset */
/* Import font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
/* Custom properties */
:root{
    --light-color: #fff;
    --nav: #dadde6;
    --light-color-alt: #afb6cd;
    --light-color-al: #414244;
    --light-color-alc: #717378fc;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(
        115deg,#4fcf70,#fad648,#a767e5,#12bcfe,#44ce7b);
    --transparent-light-color: rgba(255,255,255,.05);
    --transparent-dark-color: rgba(0,0,0,.75);
    --img-tren: rgba(14, 11, 11, 0.841);
    --img-duoi: rgba(14, 11, 11, 0.774);
    --font-family: 'Poppins', sans-serif;
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}
*{
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
    color: var( --secondary-background-color);
    font-size: var(--font-size-xsm);
}
.d-none{
    display: none;
  }
  /* hover  */
  a:hover,
  ul:hover,
  li:hover,
  img:hover,
  .fa-solid:hover{
    cursor: pointer; 
  }
  .fa-solid:hover {
    color: purple;
  }

/* thư viện swiper */
.swiper {
    width: 100%;
    height: 300px;
    min-width: 7rem;
    min-height: 7rem;
    margin: 20px auto;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .append-buttons {
    text-align: center;
    margin-top: 20px;
  }

  .append-buttons button {
    display: inline-block;
    cursor: pointer;
    border: 1px solid #007aff;
    color: #007aff;
    text-decoration: none;
    padding: 4px 10px;
    border-radius: 4px;
    margin: 0 10px;
    font-size: 13px;
  }
  /* swiper */
  div.img_box{
    position: relative;height: 96.7%;
  }
  div.swiper__slide--img{
    position: relative;
  }


div.gird-test:hover{
    color: #a767e5;
}
.icon-left{
    margin-left: 0.2rem;
  }


span.span-item{
    color: var( --secondary-background-color);
}










  /* tích hợp màn hình  */




  @media screen and (max-width: 600px) {
    div.comic__list{
        display: grid;
        align-items: center;
        grid-template-columns: auto auto;
        gap: 1rem;
      }
  }
  @media screen and (max-width: 900px) {
    div.default{
        display: none;
      }
    div.heder__comic__list{
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto;
        gap: 1rem;
    }
  }
  @media screen and (max-width: 1200px) {
    /* CSS cho màn hình lớn */ 
    #truyen-chu{
        display: none;
    }
   
    div.sign-in-on{
      display: none;
    }
    div.list-list{
      display: block;
    }
    div.comic__list{
        display: grid;
        align-items: center;
        grid-template-columns: auto auto auto;
        gap: 1rem;
      }
  }
  @media screen and (max-width: 1400px) {
    #list{
        width: 100%;
    }
    /* CSS cho màn hình lớn */ 
    #girl{
        display: none;
    }
    #men{
        display: none;
    }
    
  }
  
  div.gird-container{
    display: grid;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding: 1rem;
  }
  div.comic__list{
    display: grid;
    align-items: center;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
  }
  

